<!-- <p class="animate__animated animate__bounceInRight">heroes works!</p> -->


<h1>Listado de Heroes</h1>
<hr>

<div class="row">
    <div class="col text-right">

        <button class="btn btn-primary" routerLink="/hero/nuevo">
            <i class="fa fa-plus"> agregar</i>
        </button>

    </div>

    <table class="table my-5">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Poder</th>
                <th>Vivo</th>
                <th>Tools</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hero of heroes; let idx = index">
                <td scope="row">{{idx + 1}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.power}}</td>
                <td>
                    <span *ngIf="!hero.alive" class="badge badge-pill badge-danger">                    
                        <i class="far fa-dizzy p-1"></i>
                    </span>
                    <span *ngIf="hero.alive" class="badge badge-pill badge-success">
                        <i class="far fa-smile p-1"></i>
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-success mr-2" [routerLink]="['/hero', hero.id]">Editar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteHero(hero.id, idx)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>


    <div *ngIf="loading" class="alert alert-primary text-center w-100" role="alert">
        <h4>Cargando</h4>
        <p class="pt-3">
            <i class="fas fa-spinner fa-spin fa-2x"></i>
        </p>
        <p>Espere por favor</p>
    </div>

    <div *ngIf="heroes.length == 0 && !loading" class="alert alert-danger text-center w-100" role="alert">
        <h4>No hay registros</h4>
        <p class="pt-3">
            <i class="fas fa-exclamation fa-2x"></i>
        </p>
    </div>
</div>